body {
	margin: 0;
	display: flex;
	justify-content: center; /* Centers content horizontally */
	align-items: center; /* Centers content vertically */
	min-width: 320px;
	min-height: 100vh;
	background-color: #242424;
}
